
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    }
    
    
    #External
    {
        /* border: 1px solid red; */
        height: 3500px;
        width: 1250px;
      
        
    }
    
    #LogoandNavigation_div
    {
    
     /* border: 2px solid red;  */
     background-color: white;
     height: 110px;
     width: 1320px;
     position:sticky;
     top: 0px;
     display: flex;
    }
    
    #Logo
    {
    /* border: 1px solid red; */
    height: 75px;
    width: 200px;
    margin-left: 85px;
    margin-top: 15px;
    
    }
    
    #Nav
    {
       /* border: 1px solid gray; */
       height: 55px;
       width: 650px;
       margin-left: 370px;
       margin-top: 25px;
        
       
    }
    
    
    ul {
    
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:white;
    }
    
    li {
       float: left;
     }
    
    
    li a {
      
       font-size: 19px;
       display: block;
       color:black;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }
    
    li a:hover {
       background-color: gray;
     }
    
    
    
      #First_content
      {
         /* border: 1px solid red; */
         background-color: rgb(233, 198, 204); 
          height: 600px;
          width: 1230px;
          display: flex;
          margin-top: 0px;
          margin-left: 70px;
      }
    
    
      #First_left
      {   
       /* border: 1px solid yellow;  */
        height: 430px;
        width: 40%; 
        margin-left: 50px;
        margin-bottom: 10px;
        padding-top: 70px;
      }
    
      #First_right
      {
        /* border: 1px solid green;  */
        height: 540px;
        width: 58%; 
        margin-left: 60px;
       
      }
    
      #First_right_image
      {
        background-color: rgba(247, 241, 241,0.2);
        width: 690px;
        padding-right: 0px;
      }
    
      
      .First_left_caption_font
      {
          font-size: 50px;
          font-weight: bolder;
      }
    
      #First_left_caption1_font
      {
          line-height: 0.9px;
         
      }
    
      #First_left_caption2_font
      {
          line-height: 1.9px;
      }
    
      #Shibuya_font
      {
          font-weight: 400;
          font-size: 24px;
      }
    
      #Left_content_font
      {
          font-size: 17px;
      }
    
      #About_button
      {
         border: 1px solid red;
          border-radius: 10px;
          height: 45px;
          width: 180px;
          background-color: red;
          font-size: 18px;
          color: white;
          margin-left: 20px;
          
      }
    
      #Button_link
      {
        text-decoration: none;
        color: white;
      }
    
    
    
    
      #Second_content
      {
        /* border: 1px solid blue;  */
        height: 455px;
        width: 1200px;
        display: flex;
        margin-left: 65px;
        margin-top: 10px;
      }
    
      #Second_left
      {
        /* border: 1px solid yellow; */
        height: 360px;
        width: 25%; 
        margin-left: 50px;
        margin-bottom: 10px;
        margin-top: 80px;
        
      }
    
    #Second_left_image
    {
      width: 300px;
    }
    
      #Second_right
      {
        /* border: 1px solid pink; */
        height: 277px;
        width: 57%; 
        margin-left: 20px;
        margin-top: 90px;
        /* border-radius: 20px; */
        /* box-shadow: -2px 2px 4px pink; */
      }
    
      #Second_right_header
      {
        font-size: 31px;
        font-weight: 400;
        padding-left: 50px;
        padding-top: 20px;
        
    
      }
    
      #Second_right_content
      {
        font-size: 17px;
        padding-left: 50px;
        
      }
    
    
      
    
    
      #Expect
      {
         /* border:1px solid blue;  */
        background-color: red;
        height: 620px;
        width: 1320px;
      
      }
    
      #Expect_header_div
      {
        /* border:1px solid blue; */
        height: 65px;
        width: 15%;
        margin-left: 500px;
        padding-top: 10px;
     
      }
    
      #Expect_header
      {
        color: white;
        font-size: 29px;
    
      }
    
      #Expect_content_div
      {
        /* border:1px solid yellow; */
        height: 80px;
        width: 65%;
        margin-left: 250px;
      }
    
      #Expect_content
      {
        color: white;
        font-size: 18px;
      }
    
    
      #Sixth_section_div
      {
          /* border:1px solid blue; */
          height: 355px;
          width: 82%;
          margin-top: 2px;
          display: flex;
          margin-left: 100px;
          padding-left: 45px;
          margin-top: -390px;
      }
    
      #Affordable
      {
        border:1px solid white;
        background-color: red;
        border-radius: 14px;
        height: 340px;
        width: 420px;
        color: white;
       
      }
    
      #Stream
      {
        border:1px solid white;
        background-color: red;
        border-radius: 14px;
        height: 340px;
        width: 420px;
        margin-left: 20px;
        color: white;
      }
    
      #Maintain
      {
        border:1px solid white;
        background-color: red;
        border-radius: 14px;
        height: 340px;
        width: 420px;
        margin-left: 20px;
        color: white;
      }
    
    
      #Affordable_image_div
      {
        /* border: 1px solid blue; */
        height: 80px;
        width: 75px;
        margin-top: 45px;
        margin-left: 20px;
    
    
      }
    
      #Stream_image_div
      {
        /* border: 1px solid blue; */
        height: 80px;
        width: 75px;
        margin-top: 45px;
        margin-left: 20px;
    
      }
    
      #Maintain_image_div
      {
        /* border: 1px solid blue; */
        height: 80px;
        width: 75px;
        margin-top: 45px;
        margin-left: 20px;
    
      }
    
      .Sixth_section_header
      {
        font-size: 17px;
        font-weight: bold;
        padding-left: 26px;
      }
    
      .Sixth_section_content
      {
      font-size: 16px;
      padding-left: 26px;
      
    
      } 
    
      .Sixth_section_content_div
      {
        width: 300px;
        /* border: 1px solid blue; */
     
      }
    
    
    







      


      #Feature
      {
         /* border:1px solid blue;  */
       background-color: white;
        height: 620px;
        width: 1320px;
      
      }
    
      #Feature_header_div
      {
        /* border:1px solid blue; */
        height: 65px;
        width: 15%;
        margin-left: 500px;
        padding-top: 10px;
     
      }
    
      #Feature_header
      {
        color: white;
        font-size: 29px;
    
      }
    
    
      #Feature_section_div
      {
          /* border:1px solid blue; */
          height: 355px;
          width: 82%;
          margin-top: 2px;
          display: flex;
          margin-left: 100px;
          padding-left: 45px;
          margin-top: -390px;
      }
    
      #Management
      {
        border:1px solid white;
        background-color: white;
        border-radius: 14px;
        height: 340px;
        width: 420px;
        color: red;
       
      }
    
      #Global
      {
        border:1px solid white;
        background-color: white;
        border-radius: 14px;
        height: 340px;
        width: 420px;
        margin-left: 20px;
        color: red;
      }
    
      #Full
      {
        border:1px solid white;
        background-color: white;
        border-radius: 14px;
        height: 340px;
        width: 420px;
        margin-left: 20px;
        color: red;
      }
    
    
      #Management_image_div
      {
        /* border: 1px solid blue; */
        height: 80px;
        width: 75px;
        margin-top: 45px;
        margin-left: 20px;
    
    
      }
    
      #Global_image_div
      {
        /* border: 1px solid blue; */
        height: 80px;
        width: 75px;
        margin-top: 45px;
        margin-left: 20px;
    
      }
    
      #Full_image_div
      {
        /* border: 1px solid blue; */
        height: 80px;
        width: 75px;
        margin-top: 45px;
        margin-left: 20px;
    
      }
    
      .Management_section_header
      {
        font-size: 17px;
        font-weight: bold;
        padding-left: 26px;
      }
    
      .Management_section_content
      {
      font-size: 16px;
      padding-left: 26px;
      
    
      } 
    
      .Management_section_content_div
      {
        width: 300px;
        /* border: 1px solid blue; */
     
      }
    
    
    



















    
    
      #Testimonial_content_div
      {
         /* border: 1px solid red; */
         height: 148px;
         width: fit-content;
         margin-left:100px;
         
        
      }
    
      #Testimonial_header_div
      {
        border:1px solid yellow;
        height: 70px;
        width: fit-content;;
        margin-left:25px;
        margin-top: 45px;
      }
      
      #Testimonial_header
      {
        font-family: Arial, Helvetica, sans-serif;
        color: red;
        text-align:left;
        font-size: 30px;
        font-weight:490;
        
        
      }
    
      #Testimonial_writeup_div
      {
         /* border:1px solid black;  */
        height: 70px;
        width: 96%;
        margin-left: 40px;
        margin-top: 10px;
        padding-top: 0px;
      }
    
      #Testimonial_writeup
      {
       font-size: 18px;
       
      }
    
    
    
    
      #Client_name_div
      {
      
      border: 1px solid green;
      height: 220px;
      width: 95%;
      display: flex;
      padding-left: 130px;
      margin-top: 10px;
    
      }
    
    
      #Client_name_left_div
      {
        height: 190px;
        width: 390px;
        margin-top: 5px;
      }
      
      #Client_name_center_div
      {
        height: 190px;
        width: 390px;
        margin-left: 10px;
        margin-top: 5px;
      }
    
      #Client_name_right_div
      {
        height: 190px;
        width: 390px;
        margin-left: 10px;
        margin-top: 5px;
      }
    
      .Client_name_left_div
      {
        /*border: 1px solid red;*/
        background-color: red;
        border-radius: 14px;
        color: white;
      }
    
      .Client_name_header
      {
       font-size: 20px;
       font-weight: 600;
       padding-left: 27px;
      }
    
      .Client_name_content
      {
       padding-left: 27px;
       font-size: 16px;
    
      }
    
    
      #Contact_div
      {
        border: 1px solid yellow;
        background-color: rgb(255, 242, 244);
        height: 510px;
        width: 100%;
        display: flex;
        margin-top: 10px;
      }
    
    
      #Contact_header
      {
      font-size: 28px;
      font-weight: 550;
      margin-left: 75px;
      color: black;
      padding-left: 10px;
      }
    
      #Map_div
      {
       border: 1px solid green;
       border-radius: 12px;
       height: 400px;
       width: 750px;
       margin-left: 70px;
       margin-top: 40px;
      }
    
    
      #Address_div
      {
        border: 1px solid red;
        height: 310px;
        width: 300px;
        color: red;
        margin-left: 70px;
        margin-top: 85px;
      }
    
      .Address_headers
      {
        font-size: 22px;
        font-weight: 600;
        padding-left: 15px;
        line-height: 0.2;
      }
    
      .Address_content
      {
        font-size: 17px;
        padding-left: 15px;
      }
    
    
    
    
    
      #Footer_LogoandNavigation_div
    {
    
     /* border: 2px solid red; */
     background-color: white;
     height: 140px;
     width: 100%;
     display: flex;
    }
    
    #Footer_Logo
    {
    /* border: 1px solid red; */
    height: 115px;
    width: 298px;
    margin-left: 85px;
    margin-top: 15px;
    
    }
    
    #Footer_Nav
    {
       /* border: 1px solid gray; */
       height: 55px;
       width: 650px;
       margin-left: 330px;
       margin-top: 10px;
     
       
       
    }
    
    
    ul {
    
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color:white;
    }
    
    li {
       float: left;
     }
    
    
    li a {
      
       font-size: 19px;
       display: block;
       color:black;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
     }
    
    li a:hover {
       background-color: gray;
     }
    
    
    #Footer_comment{
    
      /* border: 1px solid green; */
       height: 35px;
       width: fit-content;
       margin-left: 963px;
       margin-top: -40px;
       font-size: 14px;
       
    }
    
    
    
    
    
    /*
      #preloader {
        background: #000 url(Images/Loader.gif.gif) no-repeat center center;
    
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
      }
      */
    
    
    
    
      
    
    
      
    
      